@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  --hue-color: 250;

  --color-primary: hsl(var(--hue-color), 69%, 61%);
  --color-primary-light: hsl(var(--hue-color), 92%, 85%);
  --color-primary-alt: hsl(var(--hue-color), 57%, 53%);
  --color-secondary: hsl(var(--hue-color), 69%, 61%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 69%, 61%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;

  --body-font: 'Poppins', sans-serif;

  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: .25rem;
  --mb-0-50: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 4rem;
  min-height: 100vh !important;
  justify-content: center;
}

.section__title {
  font-size: var(--h1-font-size);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
  text-align: center;
}

.container {
  max-width: 100%;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 1.25rem;
  padding-bottom: .625rem;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav {
  max-width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo {
  font-size: var(--h2-font-size);
}

.nav__logo:hover,
.nav__link:hover {
  transition: 600ms !important;
  color: var(--color-primary);
}

.nav__toggle {
  display: none !important;
  position: fixed !important;
  right: 1.75rem !important;
  bottom: 1.5rem !important;
  font-size: 1.5rem !important;
  color: var(--color-primary) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  transform: scale(1.2);
}

.nav__toggle:hover {
  color: var(--color-primary-alt) !important;
}

@media screen and (max-width: 967px) {
  .nav__logo {
    font-size: var(--h1-font-size);
  }

  .nav__toggle {
    display: flex !important;
    z-index: var(--z-fixed);
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: .3s;
    z-index: var(--z-fixed);
  }

  .nav__list {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr) !important;
    gap: 2rem !important;
  }

  .nav__link {
    flex-direction: column !important;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

.nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 600ms !important;
  column-gap: .75rem;
}

.home__container {
  gap: 1rem;
}

.home__content {
  display: grid;
  grid-template-columns: .5fr 3fr;
  padding-top: 3.5rem;
  align-items: center;
}

.home__social {
  display: grid;
  grid-template-columns: max-content;
  row-gap: 1rem;
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--color-primary);
  transition: 600ms !important;
  transform: scale(1.2);
}

.home__social-icon:hover {
  transition: 600ms !important;
  color: var(--color-primary-alt);
}

.home__wrapper {
  display: flex;
  flex-direction: column;
}

.home__wrapper__2 {
  display: flex;
  flex-direction: row;
  column-gap: 1.75rem;
  justify-content: space-between;
  align-items: center;
  width: fit-content !important;
}

.home__img {
  width: 35%;
}

.home__blob {
  width: 90%;
  fill: var(--color-primary);
}

.home__blob-img {
  width: 90%;
}

.home__data {
  width: 45%;
  grid-column: 1/3;
}

.home__title {
  font-size: var(--big-font-size);
}

.home__subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-0-75);
}

.home__description {
  margin-bottom: var(--mb-0-75);
}

.home__contact__button {
  color: #fff;
  background-color: var(--color-primary);
}

.button--flex {
  display: flex;
  flex-direction: row;
  column-gap: .37rem;
  justify-content: center;
  align-items: center;
  width: fit-content !important;
  margin: .37rem 0;
  transition: 600ms !important;
  padding: .77rem .97rem;
  border-radius: .37rem;
  border: 1px solid var(--color-primary);
}

.button--flex:hover {
  transition: 600ms !important;
  color: var(--color-primary-alt);
  background-color: #fff;
}

.home__scroll-button {
  border-color: transparent;
  padding: 0;
}

@media screen and (max-width:967px) {

  .home__img,
  .home__data {
    width: 90%;
  }

  .home__blob {
    width: 70%;
  }

  .home__wrapper__2 {
    flex-direction: column-reverse;
    row-gap: 2rem;
  }

  .home__scroll-button {
    padding: .77rem .97rem;
  }
}

@media screen and (max-width:640px) {
  .home__blob {
    width: 90%;
  }
}

.about__container {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.about__img {
  display: flex;
  width: 60%;
  border-radius: .97rem;
  justify-self: center;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
  margin: .57rem;
}

.about__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}

.about__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1.25rem;
  max-width: 100%;
  margin: .57rem 0 2rem;
}

.about__info__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  row-gap: .7rem;
  padding: 1.57rem 1.57rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: .57rem;
}

.about__info-name {
  font-size: var(--font-medium);
  font-weight: var(--font-semi-bold);
  color: black;
}

.about__info-description {
  width: 100%;
  font-size: var(--smaller-font-size);
}

.about__info-icon {
  transform: scale(1.2);
  color: black;
}

.resume__link__outer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.resume__link {
  display: flex;
  flex-direction: row;
  column-gap: .75rem;
  justify-content: flex-start;
  align-items: center;
  margin: 1.27rem 0rem;
  color: #fff;
  background-color: var(--color-primary);
  padding: 1.07rem 1.37rem;
  border-radius: .37rem;
  border: 1px solid var(--color-primary);
  transition: 600ms !important;
}

.resume__link:hover {
  transition: 600ms !important;
  color: var(--color-primary);
  background-color: #fff;
}

@media screen and (max-width: 967px) {
  .about__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .about__data,
  .about__info__box {
    width: 100% !important;
  }

  .about__info {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.technical__outer,
.projects__outer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 1rem;
  flex-wrap: wrap;
}

.skills__box {
  display: flex;
  flex-direction: column;
  row-gap: 1.77rem;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 1.37rem;
  padding: 1.77rem 1.27rem;
  margin: 1.57rem 0;
  width: max(30%, max-content) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.skill__title {
  font-size: var(--h2-font-size);
  color: var(--color-primary-alt);
}

.skill__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.skill__outer {
  display: flex;
  flex-direction: row;
  column-gap: .7rem;
  justify-content: flex-start;
  align-items: center;
  margin: .97rem 1.77rem;
}

.skill__details {
  display: flex;
  flex-direction: column;
  row-gap: .37rem;
  color: black;
}

.experience__icon {
  color: var(--color-primary) !important;
}

.project__box {
  width: 400px !important;
  min-height: 520px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: .77rem;
  border-radius: .57rem;
  overflow: hidden;
  padding: 1.27rem 1.27rem;
  margin: 1rem .75rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.project__image__div {
  width: 100% !important;
  height: 143px !important;
  border-bottom: 1px solid var(--text-color-light);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project__image {
  width: 100% !important;
  height: 100% !important;
  object-fit: contain !important;
}

.project__title,
.project__description,
.view__more__about__project__button {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: flex-start;
}

.project__title {
  justify-content: center;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
  color: var(--color-primary-alt);
}

.project__description {
  font-size: var(--small-font-size);
}

.color__primary {
  color: var(--color-primary) !important;
}

.detailed__project__description__outer {
  margin: .57rem 0;
  display: flex;
  flex-direction: row;
  column-gap: .47rem;
  align-items: flex-start;
}

.detailed__project__title {
  text-align: center !important;
  font-size: var(--h1-font-size) !important;
  font-weight: var(--font-medium) !important;
  color: var(--color-primary-alt) !important;
}

.detailed__project__description {
  font-family: poppins;
  font-size: .95rem;
}

.technical__challenges__title {
  display: flex;
  text-align: center;
  font-size: var(--h3-font-size);
  color: black;
}

.technical__challenges__p {
  font-family: poppins;
  color: var(--text-color);
}

.view__more__button__outer,
.technologies__title__outer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.view__more__button {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  width: fit-content !important;
  margin: 0 !important;
  transition: 600ms !important;
  padding: 0 auto !important;
  border-radius: .37rem !important;
  color: var(--color-primary) !important;
  font-family: poppins !important;
  transition: 800ms !important;
  font-size: var(--smaller-font-size) !important;
}

.view__more__button:hover {
  transition: 800ms !important;
}

.tech__stack__outer {
  width: 90%;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.technologies__title {
  color: black;
  margin: .17rem .37rem;
}

.single__stack__outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .27rem;
}

.stack__image__div {
  background: transparent !important;
}

.stack__image {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  object-fit: contain !important;
  padding: .13rem !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.stack__name {
  font-size: var(--smaller-font-size);
}

.external__links {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.external__links__github__button,
.external__links__live__button {
  display: flex !important;
  flex-direction: row !important;
  column-gap: .37rem !important;
  justify-content: center !important;
  align-items: center !important;
  width: fit-content !important;
  margin: .37rem 0 !important;
  transition: 600ms !important;
  padding: .47rem .47rem !important;
  border-radius: .37rem !important;
  border: 1px solid var(--color-primary) !important;
  background-color: var(--color-primary) !important;
  color: #fff !important;
  width: 40% !important;
  font-family: poppins !important;
  font-size: var(--small-font-size) !important;
}

.external__links__github__button:hover,
.external__links__live__button {
  background-color: #fff !important;
  color: var(--color-primary) !important;
}

.external__links__live__button:hover {
  background-color: var(--color-primary) !important;
  color: #fff !important;
}

.width__max__content {
  width: 15rem !important;
}

.m-t-4 {
  margin-top: 4rem;
}

.swiper__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single__profile__box {
  width: 320px !important;
  height: 360px !important;
  display: flex !important;
  flex-direction: column !important;
  row-gap: .57rem !important;
  padding: 1.5rem .75rem !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  border-radius: .57rem !important;
  margin: 1rem;
}

.platform__details__outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .27rem;
}

.platform__image {
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
  object-fit: contain !important;
  padding: .13rem !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.platform__name {
  color: black;
  font-size: var(--h2-font-size);
  font-weight: var(--font-medium);
}

.user__details__outer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.username {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.coding__profile__username {
  color: black;
}

.contact__container,
.contact__options,
.contact__option,
.contact__type {
  display: flex;
  flex-direction: row;
  column-gap: 15rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contact__container {
  align-items: flex-start;
}

.contact__options,
.contact__option {
  flex-direction: column;
  row-gap: 1rem;
}

.contact__option {
  width: 240px;
  height: 150px !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
  padding: .37rem .97rem;
  border-radius: .57rem;
  row-gap: .57rem;
}

.contact__type {
  column-gap: .37rem;
}

.color__primary__alt {
  color: var(--color-primary-alt) !important;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 400px;
}

input,
textarea {
  width: 100%;
  padding: 1.1rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--text-color);
  resize: none;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  background: #fff;
  border-color: var(--color-primary) !important;
}

input[type="submit"] {
  font-size: var(--font-medium) !important;
  padding: .57rem .97rem !important;
  width: 100% !important;
  cursor: pointer !important;
}

@media screen and (max-width: 967px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .contact__options{
    width: 100%;
  }
  .contact__option{
    width: 90% !important;
  }
}

@media screen and (min-width: 501px) and (max-width: 966px) {
  .contact__options{
    flex-direction: row;
    column-gap: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  form{
    width: 280px !important;
  }
}

.footer{
  box-shadow: 0 -2px 4px rgba(0, 0, 0, .15);
  margin: 2rem 0rem 1rem;
  width: 100%;
}

.footer__main{
  display: grid;
  grid-template-rows: 3fr 2fr;
  gap: 1.5rem;
  align-items: center;
  height: 100%;
  padding: 1rem;
  width: 100%;
}

.footer__info{
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.navigation__assistant, .footer__socials{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 2.5rem;
}

.navigation__assistant a{
  margin: .125rem 0;
}

.footer__socials{
  column-gap: .75rem;
}

.footer__social__icon{
  transform: scale(1.2) !important;
  transition: 600ms !important;
}

.footer__social__icon:hover{
  transition: 600ms !important;
  color: var(--color-primary) !important;
}

.fs-md{
  font-size: var(--font-medium) !important;
}

.footer__copyright{
  display: flex;
  flex-direction: column;
  row-gap: .37rem;
  justify-content: center;
  align-items: center;
}